html{
    font-size: 62.5%;
}
body{
    margin:0;
    font-family:'urbanist';
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
/*nav bar*/
header{
    display: flex;
    padding: 1.25rem 10.125rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--Green-90, #EEF8D3);
    background: var(--Grey-99, #FCFCFC);
}
a{
    width: 11.8125rem;
    height: 5.6875rem;
    flex-shrink: 0;;
}
nav{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 1.625rem;
}
nav ul li a {
    color: var(--Absolute-Black, #000);
    font-family: Urbanist;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.6875rem */
}
nav ul li a.active{
    display: flex;
    padding: 0.875rem 1.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background: var(--Green-70, #FF5EA1);
    color: var(--Grey-15, #262626);
    font-family: Urbanist;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.6875rem */
}
/*Hero Section*/
main{
    display: flex;
    width: 120rem;
    padding-left: 1.2rem;
    align-items: center;
    gap: 3.125rem;
}
.Left-col{
    width: 58rem;
    height: 62.5625rem;
    flex-shrink: 0;
    display: flex;
   
}
.Right-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.375rem;
    flex: 1 0 0;
    
}
h1{
    color: var(--Dark-Green-15, #1A3129);
    font-family: urbanist;
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.subhead {
    color: var(--Grey-20, #333);
    font-family: Urbanist;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.96875rem */
}
.cta-btns{
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
 
}
.primary-cta{
    display: flex;
    padding: 1rem 1.25rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background: var(--Green-70, #FF5EA1);
    color: var(--Grey-15, #262626);
    font-family: Urbanist;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.6875rem */
}
.secondary-cta {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Green-85, #E5F5BD);
    background: var(--Green-95, #F6FBE9);
}
.news{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
}
